.login-container {
  display: grid;
  height: 100vh;
  align-items: center;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-top: -40px;
}

.login-content {
  text-align: center;
}

.login__subtitle {
  color: #f1860b;
  font-size: 40px;
  font-weight: bold;
  margin-top: 130px !important;
}

.login__form-group {
  position: relative;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px !important;
}

.login__form-input {
  width: 100%;
  padding: 5px 0;
  border: none;
  border-bottom: 2px solid #f1860b!important;
  outline: none;
  transition: all 0.3s;
}

.login__form-group label,
.login__form-input::placeholder {
  color: #f1860b;
}

.login__form-group label {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s;
}

.login__form-input:placeholder-shown + label {
  top: 5px;
  font-size: 16px;
}

.login__form-input:not(:placeholder-shown) + label,
.login__form-input:focus + label {
  color: #f1860b!important;
  top: -20px;
  font-size: 12px;
}

.login__submit-btn {
  width: 40%;
  margin: 30px auto 0;
  padding: 8px 20px;
  align-self: flex-end;
  background-color: #f1860b;
  border:none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  display: block;
  transition: background-color 0.2s;
}

.login__submit-btn:hover {
  background-color: #6C8A5A !important;
}

.login__submit-btn:active {
  background-color: #5C784A !important;
}

.login__register-link {
  color: #f1860b;
  font-size: 12px;
  margin-top: 220px;
  text-align: center;
}

.login__image {
  position: fixed;
  left: 50%;
  width: 100%;
  height: 75vh;
  background-image: url('pills.png');
  background-size: contain;
  border-radius: 50px;
  text-align: center;
}