.prescription__tile {
    position: fixed;
    left: 70%;
    width: 100%;
    height: 75vh;
    background-color: #25b4ec;
    background-size: contain;
    border-radius: 50px;
    text-align: center;
  }

.grid-container2 {
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 50px; 
}